pipeline/GetNasaAPI_Data.json
{
	"name": "GetNasaAPI_Data",
	"properties": {
		"activities": [
			{
				"name": "Web",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "http://api.nasa.gov/neo/rest/v1/neo/@{pipeline().parameters.AsteroidId}?api_key=DEMO_KEY",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "estimatedDiameter",
					"value": {
						"value": "@string(activity('Web1').output.near_earth_objects['2023-09-08'][0].estimated_diameter.kilometers.estimated_diameter_min)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Meter",
					"value": {
						"value": "@string(activity('Web1').output.near_earth_objects['2023-09-08'][0].estimated_diameter.meters.estimated_diameter_min)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Web",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "New",
					"value": {
						"value": "@string(activity('Web1').output.close_approach_data[0].orbiting_body)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"AsteroidId": {
				"type": "string"
			}
		},
		"variables": {
			"Response": {
				"type": "String"
			},
			"Resp": {
				"type": "String"
			},
			"estimatedDiameter": {
				"type": "String"
			},
			"Meter": {
				"type": "String"
			},
			"New": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-01-31T18:15:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}