pipeline/increamental_pipeline_HWM_table.json
{
	"name": "increamental_pipeline_HWM_table",
	"properties": {
		"activities": [
			{
				"name": "Get Date from HWM Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_GENERIC_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "HWM"
						}
					}
				}
			},
			{
				"name": "Get Last Modified Date from SQL Database",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Date from HWM Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(modifieddate) as LastUpdatedDate from saleslt.product",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_GENERIC_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "Product"
						}
					}
				}
			},
			{
				"name": "Copy Product data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Modified Date from SQL Database",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from saleslt.product where modifieddate> '@{activity('Get Date from HWM Table').output.firstRow.datetime}' and modifieddate <= '@{activity('Get Last Modified Date from SQL Database').output.firstRow.LastUpdatedDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_GENERIC_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "product"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Folder_file_DS",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": "rawdata",
							"FileName": "product.txt"
						}
					}
				]
			},
			{
				"name": "Update High Water Mark Table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Product data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select '@{activity('Get Last Modified Date from SQL Database').output.firstRow.LastUpdatedDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"LastUpdatedDate"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_GENERIC_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "Product"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_DS_HWM",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-01-08T13:19:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}